h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 18%;
    color: white;
}

body {
    background-image: url(SarahMcI425.github.io/Database_Project/dust_scratches.png) ;
    font-family: Arial, Helvetica, sans-serif;
}

.column1 {
    float: left;
    width: 18%;
    height: 100%;
    color: white
}

.column2 {
    float: left;
    width: 500px;
    height: 100%;
}

.column3 {
    float: right;
    width: 150px;
    height: 100%;
    color: white
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.header{
    background-color: blue;
}

.column4 {
    float: left;
    width: 100px;
    height: 250px;
}

.column5 {
    float: left;
    width: 400px;
    height: 250px;
}
